gradio==5.49.1
openai-agents
openai>=1.40.0
python-dotenv
polygon-api-client
pandas
plotly
langchain-community
langchain-openai
langchain-experimental
langgraph
langgraph-checkpoint-sqlite
langsmith
lxml
mcp-server-fetch
mcp[cli]

